th {
    background: bisque;
} 
 td {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
    background: lavender;
  }

  h2 {
    background-color: rgb(94, 202, 202);
    padding: 10px;
  }

  /* Homepage CSS */
  header {
    background-color: rgb(40, 209, 125);
  }

  h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  li {
    display: inline;
  }

  footer {
    text-align: center;
  }